{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bg-changer.css' %}">
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem eaque nesciunt a, rerum corporis optio neque tenetur consequatur rem nulla accusantium itaque velit culpa, non aliquid similique fugit, perferendis sunt blanditiis? Laudantium at reiciendis consequuntur, natus eligendi quis dolorem corrupti perferendis dolor eos! Sequi accusantium optio nobis reprehenderit adipisci.</p>

        <p> Name: {{ name }} Surname: {{surname }}</p>        
    </body>
</html>

